/* responsive  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container, .sponsors-img-container,  .features, .feature-content 
    {
        flex-direction: column;
    }
    .feature-content{
        
    }
    .feature-img img{
        width: 70%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        max-width: 250px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container{
        gap: 20px;
    }
    

}

@media screen and (min-width: 577px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .facts-card-container, .sponsors-img-container
    {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
        justify-content: center;
    }
    .ten-years-badge {
        position: static;
        max-width: 250px;
    }


}